/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.gallery-caption {
  font-size: 0.9em;
}

.bypostauthor {
  font-style: italic;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

#wpadminbar {
  position: fixed;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  max-width: 100%;
  padding: 5px 15px;
  font-size: 15px;
  box-shadow: none;
  border: 1px solid var(--c-grey);
  display: block;

  &:focus {
    border-color: var(--c-blue);
    outline: 0;
  }
}

textarea {
  height: 60px;
  resize: none;
}

label {
  max-width: 100%;
  font-size: 14px;
}

input[type="submit"] {
  -webkit-appearance: none;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--c-blue);
  color: var(--c-white);
  background-color: var(--c-blue);
  font-size: 18px;
  display: block;
  box-shadow: none;
  outline: 0;
  transition: 0.35s;

  &:hover {
    opacity: 0.8;
  }
}

.js-bg {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.s-back-switch {
  background-position: 50%;
  background-size: cover;
}


