/* ====== GLOBAL STYLES  ====== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #929292;
  unicode-bidi: embed;
  background-color: #fff
}

::selection {
  color: #fff;
  background: #333;
  text-shadow: none
}

a {
  transition: 0.2s all;
  text-decoration: none;
  color: var(--c-dark);
  font-weight: 500;
  font-size: 15px;

  &:hover {
	color: var(--c-primary);
	text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 20px;
  color: #333;
}

h1 {
  font-size: 35px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

p,
ul,
ol {
  margin: 0 0 20px
}

img {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}