/* ====== PAGE TEMPLATE STYLES  ====== */

.hr-page {
  min-height: calc(100vh - var(--admin-bar-height));
  display: flex;
  flex-direction: column;
}

.hr-section {
  padding-top: calc(30px + 2.5vw); //

  .hr-breadcrumbs + & {
    padding-top: 40px;
  }

  &:last-of-type {
    padding-bottom: calc(30px + 2.5vw);
  }

  &__title {
    margin-bottom: calc(20px + 1.5vw);
    font-size: 30px;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 24px;
    }
  }
}