/* ====== PRELOADER STYLES ====== */

.preloader-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);
}

.preloader-wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);

  &.dark{
    background-color: var(--c-dark);
  }
}

.preloader, .preloader:before {
  --playState: running;
  border-radius: 50%;
}
.preloader {
  animation: 24s ease-in-out infinite var(--playState);
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 10em;
  height: 10em;
}
.preloader:before {
  --c: var(--c-primary);
  --cT: transparent;
  animation: spin 2s ease-in-out infinite var(--playState);
  background-image: radial-gradient(100% 100% at 48% 50%,var(--cT) 48%,currentColor 52%);
  border: 0;
  border-right: 0.3em solid;
  box-shadow: 0.3em 0 0.3em;
  color: var(--c);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: translateX(-0.15em) rotate(0deg);
  transform-origin: calc(50% - 0.15em) 50%;
}

@keyframes spin {
  to { transform: translateX(-0.15em) rotate(2turn) }
}