.sidebar {
  @media (max-width: 767px) {
	order: 1;
  }

  .search-field {
	width: 100%;
  }

  .widget_search {
	label {
	  display: block;
	}

	[type="search"] {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
  }

  .search-submit {
	display: none;
  }

  .widget {
	&:not(:last-child) {
	  margin-bottom: 35px;
	}
  }

  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }

  a {
	color: var(--c-grey);

	&:hover {
	  color: var(--c-blue);
	}
  }

  .widget-title {
	margin-bottom: 10px;
  }

  .post-date {
	font-size: 10px;
	display: block;
	font-style: italic;
  }

  .textwidget {
	.wpcf7 {
	  direction: rtl;
	  background-color: var(--c-blue);
	  padding: 15px;

	  p {
		margin-bottom: 15px;

		&:last-child {
		  margin-bottom: 0;
		}
	  }

	  label {
		margin-bottom: 0;
		color: #fff;
	  }

	  .ajax-loader {
		display: none;
	  }

	  input:not([type="submit"]),
	  textarea {
		border: 0;
	  }

	  [type="submit"] {
		width: 100%;
		margin-top: 30px;
		background-color: var(--c-white);
		color: var(--c-blue);
		opacity: 0.9;

		&:hover {
		  opacity: 1;
		}
	  }

	  .wpcf7-not-valid-tip {
		font-size: 12px;
		color: var(--c-white);
		opacity: 0.7;
	  }

	  .wpcf7-response-output {
		font-size: 12px;
		margin: 15px 0 0;
		color: var(--c-white);
		opacity: 0.7;
	  }
	}
  }
}
