body {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-dark: #222222;
  --c-semi-dark: #333333;
  --c-semi-grey: #555555;
  --c-grey: #888888;
  --c-light-grey: #bfbfbf;
  --c-soft-grey: #eeeeee;
  --c-primary: #00c483;

  --first-font: 'Roboto', sans-serif;
}